.btn {
    @mixin reset-btn;
    cursor: pointer;
    text-decoration: none;
}

.btn--menu {
    @mixin font-icons;

    &::before {
        content: "\e902";
    }
}

.btn--primary {
    background: #4A90E2;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 16px;
    text-transform: uppercase;
}