@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@define-mixin font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

@define-mixin font-helvetica {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}