@mixin add-custom-font "Icons", /fonts/Icons, icons {
    font-style: normal;
    font-weight: 400;
}

[class^="icon--"], [class*=" icon--"] {
    font-family: 'Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@define-mixin font-icons {
    font-family: "Icons", serif;
}

.icon--more:before {
    content: "\e900";
}
.icon--like:before {
    content: "\e901";
}
.icon--menu:before {
    content: "\e902";
}
.icon--retweet:before {
    content: "\e903";
}
.icon--reply:before {
    content: "\e904";
}