.wysiwyg-text {
    p {
        font-size: 20px;
        line-height: 27px;
        color: #4A4A4A;
        margin-bottom: 30px;
    }

    p.lead {
        color: #4A4A4A;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 87px;
    }
}
