<div class="tweetcard">
    <header class="tweetcard-header">
        <img class="tweetcard-author-avatar" src="{{ author.photo }}">
        <h3 class="tweetcard-author-fullname">{{ author.fullname }}</h3>
        <p class="tweetcard-author-account">
            <a href="{{ author.profilelink }}">‏{{ author.account }}</a>
            <time class="tweetcard-createdtime" datetime="2016-01-25T07:34:36+0000">{{ createdtime }}</time>
        </p>
    </header>
    <div class="tweetcard-body">
        {{ body }}
    </div>
    <footer class="tweetcard-footer">
        <nav class="tweetcard-nav">
            <ul class="tweetcard-nav-list">
                <li><a href=""><i class="icon icon--reply"></i></a></li>
                <li><a href=""><i class="icon icon--retweet"></i></a></li>
                <li><a href=""><i class="icon icon--like"></i></a></li>
                <li><a href=""><i class="icon icon--more"></i></a></li>
            </ul>
        </nav>
    </footer>
</div>