.header {
    background: #4A4A4A;
    color: #FFF;
    font-size: 14px;
    min-height: 56px;
    padding-top: 25px;
    padding-bottom: 17px;
    box-sizing: border-box;

    .btn--menu {
        color: #FFF;
        display: inline-block;
        vertical-align: top;
        margin-right: 28px;
        font-size: 12px;
    }

    .filterNav {
        display: inline-block;
        vertical-align: top;
    }

    &.is-fixed {
        position: fixed;
        width: 100%;
    }
}

.header-inner {
    lost-center: 1136px 16px;
}