{% extends "/layouts/main.twig" %}

{% block content %}
<div class="page page--home">
    <section class="tweets">
        <header class="tweets-header">
            <h1 class="tweets-title">Typeset this Microsoft plans to make the Xbox great again</h1>
            <p class="tweets-subtitle">By Chris Plante | Photography by Daniel Berman</p>
        </header>
        <div class="tweets-inner">
            {% for tweetcard in tweets %}
                {% include "partials/tweetcard.twig" with tweetcard %}
            {% endfor %}
        </div>
        <footer class="tweets-footer">
            <button class="btn btn--primary">Load Older Tweets</button>
        </footer>
    </section>

    <section class="page-inner">
        <div class="wysiwyg-text">
            <p class="lead">
                The project was initiated in 2011 as a redesign of the Sotheby’s website, but the team quickly realized a broader review of all communications materials was needed. Sotheby’s has a truly global outreach: Founded in London and currently headquartered in New York, the company also has salesrooms in Paris, Zurich, Milan, Geneva, Beijing, Hong Kong and Doha, along with a network of offices and consultants around the world. Sotheby’s was the first international fine art auction house in Russia and China, and the first to hold online auctions.
            </p>
            <p>
                Nobody was more surprised by Xbox’s fall from grace than Microsoft. In its first eight years, the Xbox 360 established the company as a powerhouse in the games industry, and one of the best options for streaming apps like Netflix, Hulu, and Pandora. As entertainment trended away from physical media and cable subscriptions, the Xbox 360 felt like a test run for Microsoft’s plan to one day control the living room.
            </p>
            <p>
                With each opulent press conference announcing a new product, Microsoft seemed more confident. When it launched the Kinect motion controller in 2010, Wired called the event "the most lavish product launch" in video game history — complete with Cirque du Soleil performers, an animatronic
            </p>
            <p>
                elephant, and an Xbox orb large enough to crush the front row. By the time the company announced the Xbox 360’s successor — Xbox One — three years later, the company was riding a tsunami of success.
            </p>
            <p>
                In theory, the Xbox One was an improvement on everything fans loved about the Xbox 360: a more powerful Kinect, new hardware that merged the console with your cable box, and lots of talk about the cloud. Microsoft only forgot one thing: the games. During the hour-long kick-off presentation, six minutes were allotted to new game announcements.
            </p>
        </div>
    </section>
</div>
{% endblock %}














