.tweets {
    background: #E8E8E8 url(../images/tweets-bg.png) no-repeat;
    background-size: cover;
    padding-top: 63px;
    padding-bottom: 246px;
}

.tweets-header {
    text-align: center;
    lost-center: 592px 16px;
    margin-bottom: 76px;
}

.tweets-inner {
    lost-center: 1136px 16px;
    margin-bottom: 74px;
}

.tweets-title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.tweets-subtitle {
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.tweets-footer {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;

    .btn--primary {
        width: 100%;
        max-width: 469px;
    }
}

@mixin respond-to $breakpoint-mobile-hd {
    .tweets {
        .tweetcard {
            lost-column: 1/2;
        }
    }
}

@mixin respond-to $breakpoint-tablet {
    .tweets {
        .tweetcard {
            lost-column: 1/3;
        }
    }
}