.tweetcard {
    border-top: solid 9px #4A90E2;
    background: rgba(255, 255, 255, .9);
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 11px;
    padding-top: 27px;
    padding-bottom: 53px;
    min-height: 264px;
    box-sizing: border-box;
    position: relative;
}

.tweetcard-header {
    padding: 0px 18px;
    position: relative;
    margin-bottom: 24px;
}

.tweetcard-body {
    padding: 0px 18px;
}

.tweetcard-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.tweetcard-author-avatar {
    position: absolute;
    right: 18px;
    top: 0px;
}

.tweetcard-author-fullname {
    color: #4A90E2;
    font-size: 15px;
    line-height: 26px;
    @mixin font-open-sans;
    font-weight: 600;
    margin-bottom: 2px;
}

.tweetcard-author-account {
    color: #9B9B9B;
    font-size: 12px;
    line-height: 26px;
    @mixin font-open-sans;
}

.tweetcard-body {
    font-size: 14px;
    line-height: 26px;
    color: #4A4A4A;
    margin-bottom: 45px;

    a {
        color: #4A90E2;
    }
}

.tweetcard-nav-list {
    overflow: hidden;
    font-size: 0px;

    li {
        display: inline-block;
        vertical-align: middle;
        width: 25%;
        text-align: center;
        color: #87A1B7;
        font-size: 14px;
        box-sizing: border-box;
        padding: 10px;
        padding-bottom: 23px;

        .icon--reply {
            font-size: 19px;
        }

        .icon--retweet {
            font-size: 16px;
        }

        .icon--like {
            font-size: 18px;
        }

        .icon--more {
            font-size: 4px;
        }
    }
}