<header class="header">
    <div class="header-inner">
        <button class="btn btn--menu js-open-menu"></button>
        <nav class="filterNav">
            <ul class="filterNav-list">
                <li class="filterNav-item">
                    <a href="#programming" title="Filter by programming tag">#programming</a>
                </li>
                <li class="filterNav-item">
                    <a href="#diving" title="Filter by diving tag">#diving</a>
                </li>
                <li class="filterNav-item">
                    <a href="#itunes" title="Filter by itunes tag">#itunes</a>
                </li>
            </ul>
        </nav>
    </div>
</header>