<nav class="mobileNav">
    <div class="mobileNav-inner">
        <ul class="mobileNav-list">
            <li class="mobileNav-item {% if activePage == 'index' %}is-active{% endif %}">
                <a href="index.html" title="">Home</a>
            </li>
            <li class="mobileNav-item {% if activePage == 'consulting' %}is-active{% endif %}">
                <a href="consulting.html" title="">Consulting</a>
            </li>
            <li class="mobileNav-item {% if activePage == 'training' %}is-active{% endif %}">
                <a href="training.html" title="">Training</a>
            </li>
            <li class="mobileNav-item {% if activePage == 'speaking' %}is-active{% endif %}">
                <a href="speaking.html" title="">Speaking</a>
            </li>
            <li class="mobileNav-item {% if activePage == 'clients' %}is-active{% endif %}">
                <a href="clients.html" title="">Clients</a>
            </li>
            <li class="mobileNav-item {% if activePage == 'book' %}is-active{% endif %}">
                <a href="book.html" title="">The book</a>
            </li>
        </ul>
        <a class="mobileNav-close js-close-menu"></a>
    </div>
</nav>