<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Mokus Test</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    {% include "partials/favicon.twig" %}

    {% block head %}{% endblock %}
</head>
<body>
    {% include "partials/header.twig" %}
    {% block content %}{% endblock %}

    <script type="text/javascript" src="../js/libs.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

    {% block end %}{% endblock %}
</body>
</html>